<?xml version="1.0" encoding="ISO-8859-1" ?>

<Simulation>
	<SimulationParameters>
		<name>BacteriophageT7 SSA</name>
		<t0>0.0</t0>
		<t1>20000.0</t1>
		<x0> 1200, 600, 0 </x0>
		<runs>2</runs>
		<numOfThreads>4</numOfThreads>
		<numOfTimePoints>1001</numOfTimePoints>
		<averagingType>ZeroDeficiencyAveragingUnit</averagingType>
		<solver>
			<type>CVodeSolver</type>
			<relTolerance>1e-3</relTolerance>
			<absTolerance>1e-3"</absTolerance>
		</solver>
		<plotScales> 1.0, 1.0, 1.0 </plotScales>
		<output>
			<type>Matlab</type>
			<overwrite>true</overwrite>
			<filename>jobs/test.mat</filename>
		</output>
	</SimulationParameters>
	<AveragingParameters>
		<!-- <importantSpecies>0, 1, 2</importantSpecies> -->
		<theta>10</theta>
	</AveragingParameters>
	<ModelParameters>
		<modelType>AdaptiveMSHRN</modelType>
		<!-- <modelType>Stochastic</modelType> -->
		<example>FastIsomerization</example>
		<N>1000</N>
		<gamma>0</gamma>
		<alpha>0, 0, 0</alpha>
		<beta>0, 0, 0</beta>
		<delta>1.0</delta>
		<xi>1.0</xi>
		<eta>0.5</eta>
		<!-- <printMessages>true</printMessages> -->
	</ModelParameters>
</Simulation>
